
@import url('https://fonts.googleapis.com/css?family=Dosis');


body {
  text-align: left;
  background: url("../images/OHhero.jpeg");
  background-size: cover;
  color: #fffff;
  font-family: Helvetica;
}



h1 {
  font-size: 100px;
	margin-top: 2.5em;
  margin-bottom: 0em;
  margin-left: 1em;
  margin-right: 0;
  letter-spacing: -8px;
}



h2 {
  font-size: 18px;
	font-family:Georgia;
	font-style: italic;
	font-weight: 100;
	margin-left: 6.25em;
}



p {
  font-family: 'Dosis', sans-serif;
	width: 550px;
  font-size: 14px;
  margin-left: 8em;
}



ul {
  font-family: 'Dosis', sans-serif;
  margin-left: 8em;
  list-style-type: none;
}

li {
  display: inline-block;
}